html,body {
  padding: 0;
  height : 100%;
	margin: 0;
	background: #f0f0f0;
  }
  .cards {
  background-color: #f00;
  width: 30%;
  height: 400px;
  text-align: center;
  padding-top: 1%;
	/*max-width: 640px;*/
	margin: 0 auto;
  }
  .card {
	position: relative;
	display: inline-block;
	width: 90%;
  height: 90%;
	font: 16px 'Trebuchet MS';
	margin: 10px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }
  .card:before,
  .card:after {
	content: attr(value);
	position: absolute;
	width: 12px;
	text-align: center;
	letter-spacing: -2px;
  }
  .card:before {
	top: 4px;
	left: 4px;
  }
  .card:after {
	bottom: 4px;
	right: 4px;
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
  }
  .card--heart {
	color: #e44145;
  }
  .card--heart:before,
  .card--heart:after {
	content: attr(value) ' ♥';
  }

  .card--diamond {
	color: #e44145;
  }
  .card--diamond:before,
  .card--diamond:after {
	content: attr(value) ' ♦';
  }

  .card--spade {
	color: #252525;
  }
  .card--spade:before,
  .card--spade:after {
	content: attr(value) ' ♠';
  }

  .card--club {
	color: #252525;
  }
  .card--club:before,
  .card--club:after {
	content: attr(value) ' ♣';
  }
  .card__inner {
	box-sizing: border-box;
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 24px;
	left: 24px;
	right: 24px;
	bottom: 24px;
  }
  .card__inner--centered {
	justify-content: center;
  }
  .card__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  .card__column--centered {
	justify-content: center;
  }
  .card__symbol {
	display: inline-block;
	height: 40px;
	text-align: center;
  }
  .card__symbol:before {
	font-size: 40px;
	line-height: 40px;
  }
  .card--heart .card__symbol:before {
	content: '♥';
  }
  .card--spade .card__symbol:before {
	content: '♠';
  }
  .card--diamond .card__symbol:before {
	content: '♦';
  }
  .card--club .card__symbol:before {
	content: '♣';
  }
  
  .card__symbol--rotated,
  .card__symbol:last-of-type {
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
  }
  .card__symbol:first-of-type {
	-webkit-transform: rotate(0);
			transform: rotate(0);
  }
  .card__symbol--big {
	flex-basis: 60px;
  }
  .card__symbol--huge {
	flex-basis: 108px;
  }

  .king{
	font-size: 100px;
	line-height: 180px;
  }
  .king:before{
	content: '♔';
  }
  .queen{
	font-size: 100px;
	line-height: 180px;
  }
  .queen:before{
	content: '♛';
  }
  .jack{
	font-size: 100px;
	line-height: 180px;
  }
  .jack:before{
	content: '♝';
  }

  .card__symbol.ace:before{
	font-size: 100px;
	line-height: 180px;
  }


  .title {
	font: 18px 'Trebuchet MS';
	color: #444;
	text-align: center;
  }
  